<div class="main-content">
    <div class="hero">
        <app-header></app-header>
        <div class="title-image-section">
            <div class="container-left">
                <div class="title-button-container">
                    <div>
                        <h2>AI-Powered recipe generator</h2>
                    </div>
                    <div>
                        <h1>Code à Cuisine</h1>

                    </div>
                    <div class="button-container">
                        <button> Get started</button>
                    </div>
                </div>
                <div class="bottom-container">
                    <span>Hungry for inspiration?</span>
                    <div>
                        <p>Go to cookbook</p>
                        <img src="arrow-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="meals-img-container">
            <img src="meals.png" alt="">
        </div>
    </div>
</div>